*, html, body {
    padding: 0;
    margin: 0;
    background-color: #f4e9cd;
    font-family: serif;
}

.fcontainer {
    background-color: #f4e9cd;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #031926;
    height: 6%;
}

.brand {
    color: #468189;
    display: flex;
    margin-left: 1vh;
    font-family: serif;
    background-color: #031926;
}

.firstname {
    margin-right: .5vh;
    color: #9dbebb;
    background-color: #031926;
    font-size: 3vh;
}

.lastname {
    margin-left: .5vh;
    color: #9dbebb;
    background-color: #031926;
    font-size: 3vh;
}

.subjudul {
    margin-left: .5vh;
    color: #f4e9cd;
    background-color: #031926;
    font-size: 1vh;
}

.container-content {
    flex-direction: column;
    background-color: #f4e9cd;
    text-decoration: none;
    list-style-type: none;
    margin-top: 2vh;
}

.li-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #031926;
    height: 5vh;
    width: 94%;
    margin-left: 3%;
    border-radius: 1vh;
    border-end-end-radius: 0vh;
    border-end-start-radius: 0vh;
    flex-direction: column;
    font-size: 3vh;
    color: #9dbebb;
    list-style-type: none;
}

.li-deskripsi {
    display: column;
    justify-content: center;
    align-items: center;
    background-color: #468189;
    height: 30vh;
    width: 94%;
    margin-left: 3%;
    border-radius: 1vh;
    border-start-end-radius: 0vh;
    border-start-start-radius: 0vh;
    list-style-type: none;
}

.video {
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    margin-top: 1vh;
    background-color: 468189;
    margin-left: 5%;
}

.container-p-content {
    background-color: #468189;
    border-radius: 1vh;
    margin-top: 6vh;
}

.container-p-content-1 {
    background-color: #468189;
    border-radius: 1vh;
    margin-top: 1.5vh;
}

.p-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-start-start-radius: 1vh;
    border-start-end-radius: 1vh;
    background-color: #031926;
    color: #9dbebb;
    text-decoration: none;
    font-size: 1.5vh;
    height: 2.5vh;
    list-style-type: none;
    margin-top: 1vh;
}

.ul-content-peran {
    margin-left: 2.5vh;
    border-radius: 1vh;
    background-color: #468189;
}

.li-content-peran {
    font-size: 1.5vh;
    border-radius: 1vh;
    background-color: #468189;
}

.p-content-0 {
    display: flex;
    background-color: #468189;
    color: #031926;
    text-decoration: none;
    font-size: 2vh;
    margin-bottom: 1vh;
}

.p-content-1 {
    margin-top: 1vh;
    border-end-start-radius: 1vh;
    border-end-end-radius: 1vh;
    background-color: #468189;
    height: 5vh;
    color: #031926;
    text-decoration: none;
    font-size: 2vh;
    list-style-type: none;
}

.container-footer {
    height: 4vh;
}

.ul-footer {
    background-color: #031926;
    height: 4vh;
}

.li-footer {
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9dbebb;
    font-size: 2vh;
    height: 4vh;
}